@import url(https://fonts.googleapis.com/css?family=Cantarell:700);
html {
    margin-top: 70px;
    font-family: 'Cantarell', sans-serif;
    color:white;
    background:#ff9800;
}

div {
    font-size:50px;
}

#intentar {
    width: 100px;
    height: 45px;
    font-family: 'Helvetica';
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(13, 108, 30);;
    background-color: #fff;
    border-style: solid;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#intentar:hover {
    background-color: rgb(13, 108, 30);;
    color: #fff;
    transform: translateY(-7px);
}