#bus{
    width: 8%;
    margin-left: 10px;
    cursor: pointer;
}

#tren{
    width: 8%;
    margin-left: 300px;
    cursor: pointer;
}

#listado{
    left: 23%;
    background-color: #dddddd;
    border-radius: 25px;
    width: fit-content;
    height: 10%;
    margin-top: 40px;
    margin-left: 31%;
}

#listado-admin{
    left: 23%;
    background-color: #dddddd;
    border-radius: 25px;
    width: fit-content;
    height: 10%;
    margin-top: 40px;
    margin-left: 25%;
}

#listado header{
    background-color: #3a7999;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px 25px 0px 0px;
}

#listado-admin header{
    background-color: #3a7999;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px 25px 0px 0px;
}

#horarios-bus{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    /*background: #fff;*/
    width: 480px;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
}

#horarios-bus tr{
    border-bottom: 1px solid #ddd;
}

#horarios-bus thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-transform: uppercase;
}

#horarios-bus th{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 48px;
    text-align: center;
}

#horarios-bus tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#horarios-bus tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#horarios-bus td {
    border-bottom: 1px solid grey;
    color: #404c81;
    padding: 7px 50px;
    font-size: 14px;
}

#texto{
    font-family: "Helvetica";
}

a{
    font-family: "Helvetica";
    text-decoration: none;
    color: #1d5076;
}

#volver{
    font-family: "Helvetica";
    text-decoration: none;
    color: #1d5076;
    margin-right: 55%;
}

#crear-header{
    background-color: #3a7999;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 800px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px 25px 0px 0px;
    margin-top: 0.5%;
    margin-left: 250px;
}

#crear{
    margin-top: 0.3%;
    border: 2px solid #103e7c;
    border-radius: 5px;
    width: 800px;
    margin-left: 250px;
}

.titulos {
    font-family: "Helvetica";
    line-height: 45px;
}

input{
    font-family: "Helvetica";
}

